@font-face {
font-family: 'GmarketSansMedium';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'PTAnboR';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408@1.0/PTAnboR.woff2') format('woff2');
font-weight: normal;
font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family : 'PTAnboR',  -serif !important;
}

/* header */ 
header {
	display: flex;
	align-items: center; 
	justify-content: space-between; /* 좌우 끝 정렬 */
	border-bottom: 1px gray;
	padding: 0 70px; 
	height: 70px;
	background-color: #f8f8f8;
}

header .headerLink {
	display: flex;
	align-items: center; 
	gap: 30px;	/* 링크 간 간격  */
}

header h1{
	font-size: 30px;
	margin: 0px;
}

header h5 {
	color: black;
	margin: 0; /* 제목 요소의 기본 마진 제거 */
}

header a {
	color: black;
	text-decoration: none;
}

header a:hover {
	color: #666; 
	text-decoration: none;
}

/* footer */
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px gray;
	background-color: #f8f8f8;
	padding: 20px 0;
}

footer div {
	display: flex;
	justify-content: space-between;
	width: 940px;
	color: #777;
}

footer section {
	width: 300px;
}

footer h6 {
	color: black;
	margin-bottom: 10px; 
}

footer a {
	color: #333;
	text-decoration: none;
}

footer ul {
	margin: 0;
	padding-left: 20px;
	list-style: square;
	color: #565656;
}

footer ul li a {
	display: block;
	text-decoration: none;
	font-family: 'GmarketSansMedium';
}

/* main */
.container{
	margin: 0 auto;
}

.search{
	padding: 80px 50px;
	height : 450px;
	text-align: center;
	position: relative;
}

#bgImgSliding {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0; /* 슬라이드 이미지를 가장 뒤로 보냄 */
}

#bgImgSliding img {
	width: 100%;
	height: 450px;
}

.search::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center; 
	background-color: rgba(231, 235, 40, 0.767);
	/* background-color: white; */
	opacity: 0.3; 

	z-index: 1; 
}

.search p{
	color: #f8f8f8;
	font-size : 50px;
	position: relative; /* 텍스트가 배경 위에 위치하도록 설정 */
	z-index: 1;
	/* text-shadow:  -2px 0px black,
						0px 1px black,
						1px 0px black,
						0px -1px black; */
	text-shadow: 3px 3px 2px black;				   
}

.serachBorder{
	border : 1px solid gray; 
	background-color: white; 
	border-radius: 20px;
	display : inline-block;
	z-index: 1;	
	position: relative;

	width : 500px;
}

#textAreaNm{
	display: inline-block;
}
.serachBorder span{ 
	padding : 10px;
}

.search select{
	padding-right: 100px;
}

.searchResult{
	margin : 100px auto;
	width: 50%; /* 가운데 정렬을 위해 너비 설정 */
}

.searchResult p{
	font-family: "GmarketSansMedium";
}

.searchResult .content{
	display: flex;
	flex-direction: row;/* 수평 방향 나열 */
	align-items: center; 
	width: 100%;
	height : 200px;
	margin-bottom: 40px;
	border-radius: 10px;
	border: 2px solid lightgray;
}


.searchResult .content-left{
	width: 30%; /* 왼쪽 콘텐츠의 너비를 30%로 설정 */
	height : 100%;
	margin-right: 20px;
}
.searchResult .content-left img{
	object-fit: cover; 
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.searchResult .content-right{
	width: 70%; /* 오른쪽 콘텐츠의 너비를 70%로 설정 */
	height: 100%;
	padding-top: 30px;
	display: flex;
	flex-direction: column; /* 수직 방향 정렬*/
}

.searchResult .content-right #price{
	margin-top: auto; /* 남는 공간을 위로 밀어 가격을 아래로 배치 */
	margin-right: 30px;
	padding-bottom: 20px;
	text-align: right; /* 가격 오른쪽 정렬 */
}

.searchResult .ghName{
	font-size: 20;
}


/* star */
#desc{
	text-indent: 0; /* 첫 줄 들여쓰기 제거 */
}

.star-ratings-fill{
	-webkit-text-fill-color: crimson;
}

.shadow{
	box-shadow: 5px 5px 15px #565656 ;
}


/* Map */
.serachBorder a, a:focus, a:hover, a:active {
	color: #202020;
	outline: hidden;
	text-decoration: none;
}

#hotel_zone{
	position: absolute;
	display: none;
	left : 0;
	width: 500px;
	z-index: 100;
	background-color: rgba(211, 211, 211, 0.767);
	cursor: pointer;
}

.popup-typeA_title {
	padding-top: 10px;
}

button#decide_cta {
	padding: 2px;
}

svg.us {
	width: 400px;
}

.cls-1.off {
	fill: #e9e9e9;
}